html{
  font-family: verdana, sans-serif;
}

body{
  background-color: #ffffff;
}

h1{
  text-align:center;
  font-size: 70px;
  color: #f1c453;
  background-color: #a4036f;
  border: 2px dotted #f1c453;
  margin: 30px 75px;
}

h2{
  text-align: center;
  font-size: 40px;
  color: #048ba8;
}

img{
  width: 100%;
  height: auto;
}

h3{
  text-align: center;
  font-style: italic;
  font-size: 25px;
  color: #048ba8;
}

p{
  text-align: center;
  font-size: 16px;
}

ul{
  list-style: none;
  text-align: center;
}

li{
  margin-top: 15px;
}

a{
  color: #54478c;
  font-weight: bold;
}

span{
  font-weight: bold;
}

section{
  margin: 0px 30px;
  /* padding: 0px 30px 30px 30px; */
}

figure{
  margin: 0px 30px;
}

#mental-health-basics{
  border: 2px dotted #f1c453;
  background-color: #efea5a;
  /* margin: 30px 75px; */
}

#chat{
  border: 2px dotted #54478c;
  background-color: #f1c453;
  /* margin: 30px 75px; */
}

#therapy{
  border: 2px dotted #efea5a;
  background-color: #83e377;
  /* margin: 30px 75px; */
}

#crisis-resources{
  border: 2px dotted #83e377;
  background-color: #f1c453;
  /* margin: 30px 75px; */
}

.nav-links li.nav-item:hover{
  background-color: #048ba8;
}


.same-size{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.hotline{
  color: #a4036f;
}

.navbar{
  background-color: #f1c453;
  width: 100%;
  display: flex;

}

.nav-links{
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  margin-top: 0;
}

.nav-item{
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  /* width: 175px; */
}

.no-underline{
  text-decoration: none;
}

/* remove underline from nav-links */



/*
pink      a4036f
purple    54478c
blue      048ba8
green     83e377
yellow    efea5a
orange    f1c453
*/
